<mat-nav-list>
  <a mat-list-item routerLink="/hotel" routerLinkActive="list-item-active">
    <ngl-icon iconName="utility:metrics" size="small" alternativeText="dashboard"></ngl-icon> Dashboard
  </a>
  <a mat-list-item routerLink="/hotel/departments" routerLinkActive="list-item-active">
    <ngl-icon iconName="utility:standard_objects" size="small" alternativeText="dashboard"></ngl-icon> Departments
  </a>
  <a mat-list-item routerLink="/hotel/modules" routerLinkActive="list-item-active">
    <ngl-icon iconName="utility:open_folder" size="small" alternativeText="dashboard"></ngl-icon> Modules
  </a>
  <a mat-list-item routerLink="/hotel/topics" routerLinkActive="list-item-active">
    <ngl-icon iconName="utility:knowledge_base" size="small" alternativeText="dashboard"></ngl-icon> Topics
  </a>
  <a mat-list-item routerLink="/hotel/mentors" routerLinkActive="list-item-active">
    <ngl-icon iconName="utility:people" size="small" alternativeText="dashboard"></ngl-icon> Mentors
  </a>
</mat-nav-list>
