<article class="slds-card">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="slds-media__body">
        <h1 class="slds-card__header-title" style="color: #333;">
          Topics
        </h1>
      </div>
      <div class="slds-no-flex">
        <button class="slds-button slds-button_neutral" >New Topic</button>
      </div>
    </header>
  </div>
  <div class="slds-card__body"></div>
  <footer class="slds-card__footer"></footer>
</article>

<br>

<div class="row">
  <div class="col-md-3 my-2">
    <mat-card class="example-card">
      <img mat-card-image src="https://trainingapp-img.s3.ap-south-1.amazonaws.com/7005e1705fb53a19_2925dedf65aa0409_FrontOffice.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h6>
          Front Office 1
        </h6>
        <p>
          Department: Front Office
        </p>
        <p>
          Module: Front Office Training
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="topicDetails()">Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-3 my-2">
    <mat-card class="example-card">
      <img mat-card-image
        src="https://trainingapp-img.s3.ap-south-1.amazonaws.com/3935dee2623e781b_JW_Lang__1_.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h6>
          JW Language
        </h6>
        <p>
          Department: Front Office
        </p>
        <p>
          Module: Front Office Ready Reckoners
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-3 my-2">
    <mat-card class="example-card">
      <img mat-card-image
        src="https://trainingapp-img.s3.ap-south-1.amazonaws.com/5dea306b91738209_YesList.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h6>
          JW Yes List
        </h6>
        <p>
          Department: Front Office
        </p>
        <p>
          Module: Front Office Ready Reckoners
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-3 my-2">
    <mat-card class="example-card">
      <img mat-card-image
        src="https://trainingapp-img.s3.ap-south-1.amazonaws.com/5de60d64a5cee950_s1.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h6>
          JW Thoughtful Gesture
        </h6>
        <p>
          Department: Front Office
        </p>
        <p>
          Module: Front Office Ready Reckoners
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-3 my-2">
    <mat-card class="example-card">
      <img mat-card-image
        src="https://trainingapp-img.s3.ap-south-1.amazonaws.com/9145de0c40c73eff_Ready_R.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h6>
          Need to know
        </h6>
        <p>
          Department: Front Office
        </p>
        <p>
          Module: Front Office Ready Reckoners
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-3 my-2">
    <mat-card class="example-card">
      <img mat-card-image
        src="https://trainingapp-img.s3.ap-south-1.amazonaws.com/5095dde6bfb1c603_JW_Marriott_Hotel_Santo_Domingo.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h6>
          At Your Service
        </h6>
        <p>
          Department: Front Office
        </p>
        <p>
          Module: Front Office Training
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-3 my-2">
    <mat-card class="example-card">
      <img mat-card-image
        src="https://trainingapp-img.s3.ap-south-1.amazonaws.com/8775dde5252530bf_Concierge.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h6>
          Concierge
        </h6>
        <p>
          Department: Front Office
        </p>
        <p>
          Module: Front Office Training
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-3 my-2">
    <mat-card class="example-card">
      <img mat-card-image
        src="https://trainingapp-img.s3.ap-south-1.amazonaws.com/5dde2bcd20646767_Room_Controlling.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h6>
          Rooms Controlling
        </h6>
        <p>
          Department: Front Office
        </p>
        <p>
          Module: Front Office Training
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-3 my-2">
    <mat-card class="example-card">
      <img mat-card-image
        src="https://trainingapp-img.s3.ap-south-1.amazonaws.com/1425dd3d6a20eb8d_ccc.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h6>
          Front Desk
        </h6>
        <p>
          Department: Front Office
        </p>
        <p>
          Module: Front Office Training
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Details</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>


